$main-blue: "#005182";
$light-blue: "#70C4E8";
$main-orange: "#DD5D29";
$dark-orange: "#90361F"; 
$main-yellow: "#EBB41F";
$light-yellow: "#FFD780";
$NA: "#E6E1E7";
$dark-accent: "#242c3d";
$light-accent: "#cae6f2";
$icon-accent: "#47BA83";
