html {
  .navbar.navbar-default {
    background-color: white !important;
  }

  .nav-item {
    .active {
      color: $main-orange !important;
    }
  }

  @media (max-width: 994px){
    .navbar-header {
      width: 100%;
    }

    .navbar-toggle {
      float:right;
    }
  }
}
